@font-face {
  font-family: 'CircularStd';
  src:
    local('Circular Std Black'),
    url('./fonts/circular_std_black.ttf')
    format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'CircularStd';
  src:
    local('Circular Std Bold'),
    url('./fonts/circular_std_bold.ttf')
    format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'CircularStd';
  src:
    local('Circular Std Book'),
    url('./fonts/circular_std_book.ttf')
    format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'CircularStd';
  src:
    local('Circular Std Medium'),
    url('./fonts/circular_std_medium.ttf')
    format('truetype');
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'CircularStd', sans-serif;
}
