@font-face {
  font-family: 'CircularStd';
  src:
    local('Circular Std Black'),
    url('./../fonts/circular_std_black.ttf')
    format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'CircularStd';
  src:
    local('Circular Std Bold'),
    url('./../fonts/circular_std_bold.ttf')
    format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'CircularStd';
  src:
    local('Circular Std Book'),
    url('./../fonts/circular_std_book.ttf')
    format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'CircularStd';
  src:
    local('Circular Std Medium'),
    url('./../fonts/circular_std_medium.ttf')
    format('truetype');
  font-weight: 400;
}

:root {
  --mg-l: 1rem;

  /* Colors */
  --dark: #141622;
  --dim: #222632;
  --light: #fff;
}

@media screen and (min-width: 768px) {
  :root {
    --mg-l: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --mg-l: 3rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'CircularStd', sans-serif;
  font-weight: 500;
  background-color: var(--dark);
  color: var(--light);
}
