.loader {
  border-radius: 50%;
  border: calc(0.375 * var(--mg-l)) solid var(--dark);
  border-top: calc(0.375 * var(--mg-l)) solid var(--orange);
  width: calc(2.8125 * var(--mg-l));
  height: calc(2.8125 * var(--mg-l));
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
