header {
  width: 100%;
  height: 4rem;
  padding: 0.5rem var(--mg-l);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.75rem;
  cursor: pointer;
}

.sign-in {
  font-size: 1.5rem;
  cursor: pointer;
}

.sign-in:hover {
  opacity: 0.5;
}

header img {
  height: 2rem;
  width: auto;
}

.logo img {
  margin-right: calc(var(--mg-l) / 2);
}

.profile-pic {
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  header {
    height: 6rem;
    padding: 1rem inherit;
  }

  .logo {
    font-size: 2.25rem;
  }

  .sign-in {
    font-size: 1.75rem;
  }

  header img {
    height: 3rem;
    width: auto;
  }
}
